<div class="container-fluid con-top">
  <div class="row">
    <div class="col">
      <p class="con-top-text">Drink's - Menu</p>
    </div>
  </div>
</div>

<app-go-back-eng></app-go-back-eng>

<div class="container food-container">
  <div class="row menu-title-container">
    <h4 class="menu-title">- Signature Cocktails -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of autorList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="autorList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- Tiki cocktail -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of tikiList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="tikiList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- From the house -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of casaList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="casaList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- 3lt Big bottle -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of botellonesList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="botellonesList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- Classic -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of clasicasList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="clasicasList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- Beers -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of cervezasList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
            <br>
            <span class="item-recomendation">
              {{item.recomendation}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="cervezasList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- Bottles -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of botellasList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="botellasList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container-2">
          <div class="row">
            <span class="price-content-2">
              <i class="fa-solid fa-glass-water"></i>
              {{item.priceGlass}} Bs.
            </span>
          </div>
          <div class="row">
            <span class="price-content-2">
              <i class="fa-solid fa-wine-bottle"></i>
              {{item.price}} Bs.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- Wines -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of vinosList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="vinosList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- Shots -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of shotsList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="shotsList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container food-container mt-5">
  <div class="row menu-title-container">
    <h4 class="menu-title">- Whitout alcohol -</h4>
  </div>
  <div class="row mt-3 mr-1 ml-1 item-container" *ngFor="let item of sinAlcoholList; index as i">
    <div class="col-8">
      <div class="row pr-2">
        <div>
          <h4 class="item-title">
            {{item.name | uppercase}}
            <br>
            <span class="item-ingredients">
              {{item.ingredients}}
            </span>
            <br>
            <span class="item-recomendation">
              {{item.recomendation}}
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-6 p-0">
          <img class="food-img" [src]="sinAlcoholList[i] | imagen" alt="">
        </div>
        <div class="col-6 price-container">
          <span class="price-content">{{item.price}} Bs.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="vegie-option">
  Ask for the flavors and sizes.
</p>
