<router-outlet *ngIf="menu"></router-outlet>

<div *ngIf="menuIntern">

  <div>
    <img class="logo-menu" src="assets/images/Logo-menu.png" width="100%" alt="">
  </div>
  <div class="container mt-4 pb-1" >
    <div class="row button-row">
      <div class="col btn-space">
        <button type="button" class="btn p-4" (click)="goComponent('comida')">
          <img src="assets/logo/fork-and-knife.png" width="60px" alt="">
        </button>
      </div>
      <div class="col btn-space">
        <button type="button" class="btn p-4" (click)="goComponent('bebida')">
          <img src="assets/logo/drink.png" width="60px" alt="">
        </button>
      </div>
    </div>
    <div class="row mt-4 button-row">
      <div class="col btn-space">
        <button type="button" class="btn p-4" (click)="goComponent('cafe')">
          <img src="assets/logo/coffee-cup.png" width="60px" alt="">
        </button>
      </div>
      <div class="col btn-space">
        <button type="button" class="btn p-4" (click)="goComponent('postre')">
          <img src="assets/logo/sweets.png" width="60px" alt="">
        </button>
      </div>
    </div>
    <div class="row mt-4 button-row">
      <div class="col btn-space">
        <button type="button" class="btn p-4" (click)="goComponent('promo')">
          <img src="assets/logo/price-tag.png" width="60px" alt="">
        </button>
      </div>
      <div class="col btn-space">
        <button type="button" class="btn p-4" (click)="goComponent('juego')">
          <img src="assets/logo/dice.png" width="60px" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
