<div class="container language-container">
  <div class="row language-title">
    <h4>
      Idioma / Language
    </h4>
  </div>
  <div class="row language-esp" (click)="espClick()">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title m-0">
          <span class="text-esp">
            Español
          </span>
          <img src="assets/languages/bolivia.png" width="35px" alt="">
        </h5>
      </div>
    </div>
  </div>
  <div class="row" (click)="engClick()">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title m-0">
          <span class="text-eng">
            English
          </span>
          <img src="assets/languages/united-states-of-america.png" width="35px" alt="">
        </h5>
      </div>
    </div>
  </div>
</div>
