.language-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.language-title{
  margin-bottom: 8rem;
}
.language-esp{
  margin-bottom: 2rem;
}
.text-esp{
  margin-right: 0.3rem;
}
.text-eng{
  margin-right: 0.3rem;
}
h4{
  font-weight: 800;
  color: #DA291C;
  margin-bottom: 2rem;
}
.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-body{
  padding-block: 15px;
  padding-inline: 4rem;
}
.card{
  border-radius: 10px;
  background-color: rgb(245, 245, 245, 0.6);
}
